<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "us.findatable.findatable"
        versionCode = "10"
        version     = "1.0.3">
 
    <name>Find A Table</name>
 
    <description>
        Simple Find A Table application.
    </description>
 
    <author href="http://findatable.us" email="aqu@princeton.edu">
        David Kong, Lisa Lee, Ante Qu, Ming-Yee Tsang
    </author>

    <icon src="icon.png" />
    <!--<gap:splash src="splash.png" /> -->
    <preference name="splash-screen-duration" value="splash"/>
    <preference name="splashScreenDelay" value="10"/>
    <preference name="auto-hide-splash-screen"    value="true" />
    <preference name="fullscreen"    value="true" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <!--<feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>-->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <!--<feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>-->
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>
